# Block light engine - widen protected members for mixin access
public net.minecraft.world.level.lighting.LayerLightSectionStorage storingLightForSection(J)Z
public net.minecraft.world.level.lighting.LayerLightSectionStorage getStoredLevel(J)I
public net.minecraft.world.level.lighting.LayerLightSectionStorage setStoredLevel(JI)V
public net.minecraft.world.level.lighting.BlockLightSectionStorage$BlockDataLayerStorageMap